@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   padding: none;
   margin:  auto;
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
color: white;
} 
body {
   background-image: url(".././assets/img5.png");
   background-position: center;
    background-size: cover;
}
